<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="createProductForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input formControlName="modelName" matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Référence</mat-label>
      <input formControlName="reference" matInput placeholder="Référence">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Prix</mat-label>
      <input formControlName="price" matInput placeholder="Prix">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type de Logement</mat-label>
      <input formControlName="dwellingType" matInput placeholder="Type de Logement">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Superficie</mat-label>
      <input formControlName="livingSpace" matInput placeholder="Superficie">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>URL Photo</mat-label>
      <input formControlName="urlPhoto" matInput placeholder="URL Photo">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="warn" mat-dialog-close="">Annuler</button>
  <button mat-raised-button color="primary" (click)="addProduct()" >{{actionBtn}}</button>
</div>
