<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="home-design">
  <button [routerLink]="['../customers/list']" class="menu-box">
    <div>
      CLIENTS
    </div>
  </button>
  <button [routerLink]="['../orders/list']" class="menu-box">
    <div>
      COMMANDES
    </div>
  </button>
  <button [routerLink]="['../products/list']" class="menu-box">
    <div>
      PRODUITS
    </div>
  </button>
  <button [routerLink]="['../users/list']" class="menu-box adminDisplay">
    <div class="adminDisplay">
      UTILISATEURS
    </div>
  </button>
</div>
