.home-design{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  height: calc( 100% - 250px);
  margin-top: 250px;
}

.home-design button{
  transition: transform .5s;
}

.home-design button :hover{
  -ms-transform: scale(1.2); /* IE 9 */
  --webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

a{
  text-decoration: none;
}
.menu-box {
  border: 2px solid #367b0c;
  width: 280px;
  height: 208px;
  border-radius: 32px;
  background-image: url(src/assets/Logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-main-background);
  margin: 30px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bleu);
  cursor: pointer;
}


.tr-header {
  width: calc(100vw - 22vw);
  position: fixed;
  height: 250px;
  background-image: url('../../../../assets/backback.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*.container-content{
  height: calc( 100% - 250px);
  margin-top: 250px;
}*/

