<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="createUserForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input formControlName="lastname" matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input formControlName="username" matInput placeholder="Prénom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input formControlName="mail" matInput placeholder="E-mail">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input formControlName="password" matInput placeholder="Mot de passe">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>N° de téléphone</mat-label>
      <input formControlName="phone" matInput placeholder="N° de téléphone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="ADMIN">Administrateur</mat-option>
        <mat-option value="USER">Commercial</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="warn" mat-dialog-close="">Annuler</button>
  <button mat-raised-button color="primary" (click)="addUser()" >{{actionBtn}}</button>
</div>
