<div class="card-customer" *ngFor="let customer of (customer$ | async)">
  <div class="left-card">
    <span class="prenom">{{customer.prenom}}</span>
    <span class="nom">{{customer.nom}}</span>
    <span class="city">{{customer.ville}}</span>
    <span class="phone">{{customer.telephone}}</span>
    <span class="mail">{{customer.mail}}</span>
  </div>
  <div class="right-card">
    <button [routerLink]="['/breizhouse/customers/read']" class="readCustomerButton">
      <div class="iconify-button">
        <app-icon-magnifying-class class="iconify"></app-icon-magnifying-class>
      </div>
    </button>
    <button [routerLink]="['/breizhouse/customers/update']" class="updateCustomerButton">
      <div class="iconify-button">
        <app-icon-square-pen class="iconify"></app-icon-square-pen>
      </div>
    </button>
    <button class="deleteCustomerButton modal-trigger" (click)="openModal()"> <!--(click)="modalContainer.style.display('block')" -->
      <div class="iconify-button">
        <app-icon-trash class="iconify"></app-icon-trash>
      </div>
    </button>
    <div [style.display]="display"  class="modal-container">
        <div class="modal">
          <button class="close-modal modal-trigger" (click)="closeModal()">
            X
          </button>
          <h1>
          Voulez-vous supprimez le client : {{customer.nom}} {{customer.prenom}} ?
          </h1>
          <div class="buttons">
            <button class="cancel-button" (click)="closeModal()">
              Annuler
            </button>
            <button class="delete-button" >
              Supprimer
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
