<app-header [textHeader]="titreHeader" class="tr-header"></app-header>

<div class="order-design">

  <div class="header-main">
    <div class="group-search">
      <label class="Recherche" for="filteredSearch"></label>
      <input type="search" id="filteredSearch" name="filteredSearch"
             placeholder="Rechercher par nom de client">
    </div>
    <div id="addOrder">
      <button (click)="openDialogCreateOrder()"  id="addOrderGroup">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addCustomerText">Ajouter une nouvelle commande</span>
      </button>
    </div>
  </div>

  <hr>

  <app-table-order></app-table-order>

</div>
