<div *ngFor="let product of product$ | async | filter : searchTerm">
  <a class="readProductButton">
    <div class="card-product">
      <div class="card-product-img">
        <img src="{{product.photoUrl}}" alt="Photo maison {{product.name}}">
      </div>
      <div class="card-product-details">
        <h3 class="card-product-title">{{product.name}}</h3>
        <p class="card-product-type">{{product.type}}</p>
        <p class="card-product-text">à partir de</p>
        <p class="card-product-price">{{product.priceHt}}</p>
      </div>
      <div class="right-card">
        <button [routerLink]="['products/' + product.id]" class="readCustomerButton">
          <div class="iconify-button">
            <app-icon-magnifying-class class="iconify"></app-icon-magnifying-class>
          </div>
        </button>
        <button (click)="editProduct(product)" class="updateCustomerButton">
          <div class="iconify-button">
            <app-icon-square-pen class="iconify"></app-icon-square-pen>
          </div>
        </button>
        <button (click)="deleteProduct(product.id)" class="deleteCustomerButton">
          <div class="iconify-button">
            <app-icon-trash class="iconify"></app-icon-trash>
          </div>
        </button>
      </div>

    </div>
  </a>
</div>

