
<div class="menu-touch">
  <a [routerLink]="['/home']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-home></app-icon-home>
    <div class="title-button-menu">ACCUEIL</div>
  </a>
</div>
<div class="menu-touch">
  <a [routerLink]="['/customers/list']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-customer></app-icon-customer>
    <div class="title-button-menu">CLIENTS</div>
  </a>
</div>
<div class="menu-touch">
  <a [routerLink]="['/orders/list']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-order></app-icon-order>
    <div class="title-button-menu">COMMANDES</div>
  </a>
</div>
<div class="menu-touch">
  <a [routerLink]="['/products/list']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-product></app-icon-product>
    <div class="title-button-menu">PRODUITS</div>
  </a>
</div>
<div class="menu-touch">
  <a [routerLink]="['/statistics']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-statistic></app-icon-statistic>
    <div class="title-button-menu">STATISTIQUES</div>
  </a>
</div>
<div class="menu-touch">
  <a [routerLink]="['/users/list']" [routerLinkActive]="'menu-actif'" class="detail">
    <app-icon-user></app-icon-user>
    <div class="title-button-menu">UTILISATEURS</div>
  </a>
</div>

