.tr-header {
  width: calc(100vw - 22vw);
  position: fixed;
  height: 250px;
  background-image: url("src/assets/backback.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.product-design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 250px);
  margin-top: 250px;
  background-color: #E1EBDB;
}

#header-main {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  width: 90%;
}

hr{
  width: 85%;
  margin-top: 35px;
  margin-bottom: 35px;
  border : var(--color-bleu) solid 0.5px;
}

