<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="product-design">
  <div id="header-main">
<!--    <div id="previousPage">-->
<!--      <a [routerLink]="['/breizhouse/products/list']" id="previousPageIcon">-->
<!--        <app-icon-previous-page></app-icon-previous-page>-->
<!--      </a>-->
<!--    </div>-->
  </div>

  <hr>

  <div id="body-main">
    <!-- GLOBALS AND INDIVIDUALS STATISTICS-->
    <form id="formReadStatistic" action="" method="get">
      <div class="statisticFieldset">
        <div id="statisticLeft">
          <h2>Mes statistiques</h2>
          <div class="readStatisticLabel">
            <label class="formLabel" for="myStatisticModelMonth">Produit le plus vendu mois en
              cours</label>
            <input class="formInput" type="text" name="myStatisticModelMonth" id="myStatisticModelMonth"
                   value="Modèle 4" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="myStatisticModelYear">Produit le plus vendu année en
              cours</label>
            <input class="formInput" type="text" name="myStatisticModelYear" id="myStatisticModelYear"
                   value="Modèle 6" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="myStatisticTurnoverMonth">Chiffre d'affaire mois en
              cours</label>
            <input class="formInput" type="text" name="myStatisticTurnoverMonth"
                   id="myStatisticTurnoverMonth" value="890 000 euros" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="myStatisticTurnoverYear">Chiffre d'affaire année en
              cours</label>
            <input class="formInput" type="text" name="myStatisticTurnoverYear"
                   id="myStatisticTurnoverYear" value="1 890 000 euros" disabled/>
          </div>
        </div>

        <div id="statisticRight">
          <h2>Statistiques entreprise</h2>
          <div class="readStatisticLabel">
            <label class="formLabel" for="globalStatisticModelMonth">Produit le plus vendu mois en
              cours</label>
            <input class="formInput" type="text" name="globalStatisticModelMonth"
                   id="globalStatisticModelMonth" value="Modèle 6" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="globalStatisticModelYear">Produit le plus vendu année en
              cours</label>
            <input class="formInput" type="text" name="globalStatisticModelYear"
                   id="globalStatisticModelYear" value="Modèle 6" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="globalStatisticTurnoverMonth">Chiffre d'affaire mois en
              cours</label>
            <input class="formInput" type="text" name="myStatisticTurnoverMonth"
                   id="globalStatisticTurnoverMonth" value="10 890 000 euros" disabled/>
          </div>

          <div class="readStatisticLabel">
            <label class="formLabel" for="globalStatisticTurnoverYear">Chiffre d'affaire année en
              cours</label>
            <input class="formInput" type="text" name="globalStatisticTurnoverYear"
                   id="globalStatisticTurnoverYear" value="27 890 000 euros" disabled/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
