<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="product-design">
  <div id="header-main">
    <div id="previousPage">
      <a [routerLink]="['/breizhouse/products/read']" id="previousPageIcon">
        <app-icon-previous-page></app-icon-previous-page>
      </a>
    </div>
  </div>

  <hr>

  <div id="body-main">
    <form id="formUpdateProduct" action="" method="post">
      <!-- display flex row -->
      <div class="productFieldset">
        <div id="productLeft">
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productRef">Référence du produit</label>
            <input class="formInput" type="text" name="productRef" id="productRef" required autofocus/>
          </div>
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productName">Nom du produit</label>
            <input class="formInput" type="text" name="productName" id="productName" required/>
          </div>
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productType">Type du produit</label>
            <input class="formInput" type="text" name="productType" id="productType" required/>
          </div>
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productNotes">Description</label>
            <textarea class="formTextareaInput" name="productNotes" id="productNotes" rows="14"
                      cols="22"></textarea>
          </div>
        </div>

        <div id="productRight">
          <!-- display flex row -->
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productTarif">Tarif du produit</label>
            <input class="formInput" type="text" name="productTarif" id="productTarif" required/>
          </div>
          <div class="updateProductLabel">
            <!-- display flex column -->
            <label class="formLabel" for="productSurface">Surface du produit</label>
            <input class="formInput" type="text" name="productSurface" id="productSurface" required/>
          </div>
          <div class="updateProductLabel">
            <label class="formLabel" for="productFile">Photo du produit</label>
            <input class="formFileInput" type="file" id="productFile" name="productFile">
          </div>
          <div class="displayProductImg">
            IMAGE
          </div>
        </div>
      </div>
      <div>
        <!-- display flex row -->
        <a [routerLink]="['/breizhouse/products/read']"
           style="text-decoration-color: transparent; text-decoration-line: none; color: var(--color-white);">
          <button class="adminDisplay" id="buttonResetProduct" type="button">Annuler</button>
        </a>
        <button class="adminDisplay" id="buttonUpdateProduct" type="button"
                onclick="document.getElementById('modalUpdateProduct').style.display='block'">Enregistrer
        </button>

        <!-- CONFIRM MODAL -->
        <div id="modalUpdateProduct" class="modal">
                        <span onclick="document.getElementById('modalUpdateProduct').style.display='none'" class="close"
                              title="Close Modal">×</span>
          <form class="modal-content" action="">
            <div class="container">
              <h1>Modification du produit</h1>
              <h3>Êtes-vous sûr de vouloir modifier ce produit ?</h3>

              <div class="clearfix">
                <button type="button"
                        onclick="document.getElementById('modalUpdateProduct').style.display='none'"
                        class="cancelbtn">Annuler
                </button>
                <button type="submit"
                        onclick="document.getElementById('modalUpdateProduct').style.display='none'"
                        class="deletebtn">Confirmer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  // Get the modal
  var modalUpdateProduct = document.getElementById('modalUpdateProduct');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target === modalUpdateProduct) {
      modalUpdateProduct.style.display = "none";
    }
  }
</script>
