<header role="banner">
  <img src="../../../../assets/Logo.png" alt="logo" id="logo">
</header>
<main role="main">

  <form [formGroup]="pageLogin" (ngSubmit)="login()" id="connexionbloc">
    <div class="form-group" id="login">
      <label class="labelLogin" for="login">Login</label><br/>
      <input class="inputLogin form-control" type="text" formControlName="username" required /><br/>
    </div>

    <div class="form-groupe" id="password">
      <label class="labelPassword" for="password" >Mot de passe</label><br/>
      <input class="inputPassword form-control" type="password" formControlName="password" required />
    </div>

    <div id="forgot-your-password">
      <a>mot de passe oublié</a>
    </div>
    <button id="buttonconnexion" type="submit" >Se connecter</button>
  </form>
</main>
