<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="product-design">
  <div id="header-main">
    <div id="previousPage">
      <a [routerLink]="['/breizhouse/products/list']" id="previousPageIcon">
        <app-icon-previous-page></app-icon-previous-page>
      </a>
    </div>
  </div>

  <hr>

  <div class="body-main">
    <form id="formCreateProduct" action="" method="">
      <div class="productFieldset">
        <div id="productLeft">
          <div class="createProductLabel">
            <label class="formLabel" for="productRef">Référence du produit</label>
            <input class="formInput" type="text" name="productRef" id="productRef"
                   title="La référence produit doit contenir 3 lettres et 2 chiffres !" required
                   autofocus/>
          </div>
          <div class="createProductLabel">
            <label class="formLabel" for="productName">Nom du produit</label>
            <input class="formInput" type="text" name="productName" id="productName"
                   title="Le nom du produit doit contenir au moins 8 caractères !" required/>
          </div>
          <div class="createProductLabel">
            <label class="formLabel" for="productType">Type du produit</label>
            <input class="formInput" type="text" name="productType" id="productType"
                   title="Le type du produit doit contenir au moins 4 caractères !" required/>
          </div>
          <div class="createProductLabel">
            <label class="formLabel" for="productNotes">Notes</label>
            <textarea class="formTextareaInput" name="productNotes" id="productNotes" rows="14"
                      cols="22"></textarea>
          </div>
        </div>

        <div id="productRight">
          <div class="createProductLabel">
            <label class="formLabel" for="productTarif">Tarif du produit TTC</label>
            <input class="formInput" type="text" name="productTarif" id="productTarif"
                   title="Le tarif du produit doit contenir au moins 5 chiffres !"
                   required/>
          </div>
          <div class="createProductLabel">
            <label class="formLabel" for="productSurface">Surface du produit en m2</label>
            <input class="formInput" type="text" name="productSurface" id="productSurface"
                   title="La surface du produit doit contenir au moins 2 chiffres !"
                   required/>
          </div>
          <div class="createProductLabel">
            <label class="formLabel" for="productFile">Photo du produit</label>
            <input class="formFileInput" type="file" id="productFile" name="productFile">
          </div>
          <div class="displayProductImg">
            IMAGE
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="" class="adminDisplay" id="buttonResetProduct" type="reset">Annuler</button>
        <button [routerLink]="" class="adminDisplay" id="buttonCreateProduct" type="submit">Ajouter Produit</button>
      </div>
    </form>
  </div>

</div>
