.tr-header {
  width: calc(100vw - 22vw);
  position: fixed;
  height: 250px;
  background-image: url("src/assets/backback.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.product-design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 250px);
  margin-top: 250px;
  background-color: #E1EBDB;
}

#header-main {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  width: 90%;
}

hr{
  width: 85%;
  margin-top: 35px;
  margin-bottom: 35px;
  border : var(--color-bleu) solid 0.5px;
}

#previousPage {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  background-color: var(--color-bleu);
  padding: 20px;
  width: 40px;
  height: 40px;
}

#formCreateProduct {
  width: calc(100vw - 564px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 30px;
}

.productFieldset {
  display: flex;
  background-color: var(--color-white);
  box-shadow: 0 12px 12px var(--color-boxshadow);
  border: 1px solid var(--color-gris);
  border-radius: 5px;
}

#productLeft, #productRight {
  margin-left: 30px;
  margin-right: 30px;
}

.formLabel {
  align-items: center;
  margin-bottom: 8px;
  font-size: 24px;
}

.formInput {
  height: 30px;
}

.formFileInput  {
  align-self: center;
  font-family: montserrat, serif;
  color: var(--color-white);
  background: var(--color-bleu);
  border : 0;
  border-radius: 5px;
  width: 400px;
  opacity: 70%;
}

.displayProductImg {
  border: 2px solid var(--color-boxshadow);
  background-color: var(--color-gris-clair);
  color: var(--color-white);
  width: 380px;
  height: 280px;
  border-radius: 32px;
  margin: 15px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createProductLabel {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}

#buttonResetProduct{
  width: 200px;
  height: 63px;
  align-self: center;
  font-family: montserrat, serif;
  color: var(--color-white);
  background: var(--color-button-annuler);
  border : 0;
  border-radius: 10px;
  opacity: 60%;
  margin-top: 20px;
  margin-right: 40px;
  font-size: 20px;
}

#buttonCreateProduct{
  width: 200px;
  height: 63px;
  align-self: center;
  font-family: montserrat, serif;
  color: var(--color-white);
  background: var(--color-bleu);
  border : 0;
  border-radius: 10px;
  opacity: 1;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
}

#buttonResetProduct:hover {
  opacity: 1;
}

#buttonCreateProduct:hover {
  opacity: 0.6;
  background-color: var(--color-vert);
}
