<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="product-design">
  <div class="header-main">

    <!--    barre de recherche general sur le site avec parentalité pour card-customer-->
    <div class="group-search">
      <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" id="filteredSearch" placeholder="Recherche">
    </div>

    <div id="addProduct">
      <button (click)="openDialogCreateCustomer()" id="addProductButton">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addProductText">Ajouter un nouveau produit</span>
      </button>
    </div>
  </div>
  <hr>
  <!-- body-main maquette html -->
  <app-card-product id="group-product-card" [searchTerm]="searchTerm"></app-card-product>
</div>
