<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="product-design">
  <div class="header-main">
    <div class="dropdown">
      <button class="selectFilterSearch">Filtres
        <app-icon-chevron-down></app-icon-chevron-down>
      </button>
      <div class="dropdown-child">
        <a href="#">Nom modèle</a>
        <a href="#">Type</a>
      </div>
    </div>
    <div class="group-search">
      <label class="Recherche" for="filteredSearch"></label>
      <input type="search" id="filteredSearch" name="filteredSearch"
             placeholder="Rechercher par nom de modèle">
    </div>
    <div id="addProduct">
      <button (click)="openDialogCreateCustomer()" id="addProductButton">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addProductText">Ajouter un nouveau produit</span>
      </button>
    </div>
  </div>
  <hr>
  <!-- body-main maquette html -->
  <app-card-product id="group-product-card"></app-card-product>
</div>
