.tr-header {
  width: calc(100vw - 22vw);
  position: fixed;
  height: 250px;
  background-image: url("src/assets/backback.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* TODO: REVOIR LA TAILLE DE CE CONTAINER */
.product-design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 250px);
  margin-top: 250px;
  background-color: #E1EBDB;
}

#header-main {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 90%;
}

hr {
  width: 85%;
  margin-top: 35px;
  margin-bottom: 35px;
  border: var(--color-bleu) solid 0.5px;
}

.group-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectFilterSearch {
  background-color: var(--color-bleu);
  color: var(--color-white);
  border-radius: 10px;
  border-color: var(--color-bleu);
  cursor: pointer;
  width: 323px;
  height: 41px;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectFilterSearch:hover {
  background-color: var(--color-bleu);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-child {
  font-family: 'Montserrat', serif;
  display: none;
  background-color: var(--color-bleu);
  min-width: 50px;
  border-radius: 10px;
  position: absolute;
  width: 323px;
  z-index: 100;
}

.dropdown-child a {
  color: var(--color-white);
  padding: 20px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-child {
  display: block;
}

#filteredSearch {
  width: 250px;
  height: 41px;
  border: var(--color-bleu) solid 1px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Montserrat', serif;
}

#addProduct {
  display: flex;
  align-items: center;
}

.iconify-button .iconify {
  width: 15px;
  height: 15px;
}

#addProductButton {
  display: flex;
  vertical-align: center;
  align-items: center;
  text-decoration-color: transparent;
  text-decoration-line: none;
  color: var(--color-bleu);
}

#addProductIcon {
  color: var(--color-bleu);
  margin-right: 10px;
  padding: 5px;
}

#addProductText {
  color: var(--color-bleu);
  font-family: 'Montserrat', serif;
  font-size: 16px;
}

#group-product-card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


