<div class="card-user" *ngFor="let user of (user$ | async)">
  <div class="left-card">
    <span class="prenom">{{user.username}}</span>
    <span class="nom">{{user.lastname}}</span>
    <span class="nom">{{user.role}}</span>
    <span class="phone">{{user.phone}}</span>
    <span class="mail">{{user.mail}}</span>
  </div>
  <div class="right-card">
    <button [routerLink]="['users/' + user.id]" class="readUserButton">
      <div class="iconify-button">
        <app-icon-magnifying-class class="iconify"></app-icon-magnifying-class>
      </div>
    </button>
    <button (click)="editUser(user)" class="updateUserButton">
      <div class="iconify-button">
        <app-icon-square-pen class="iconify"></app-icon-square-pen>
      </div>
    </button>
    <button (click)="deleteUser(user.id)" class="deleteUserButton">
      <div class="iconify-button">
        <app-icon-trash class="iconify"></app-icon-trash>
      </div>
    </button>
  </div>
</div>
