<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="user-design">
  <div class="header-main">
    <div class="dropdown">
      <button class="selectFilterSearch">Filtres
        <app-icon-chevron-down></app-icon-chevron-down>
      </button>
      <div class="dropdown-child">
        <a href="#">Nom</a>
        <a href="#">Connectés</a>
      </div>
    </div>
    <div class="group-search">
      <label class="Recherche" for="filteredSearch"></label>
      <input type="search" id="filteredSearch" name="filteredSearch"
             placeholder="Rechercher par nom">
    </div>
    <div id="addProduct" class="adminDisplay">
      <button (click)="openDialogCreateUser()" id="addUserButton">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addUserText">Ajouter un nouvel utilisateur</span>
      </button>
    </div>
  </div>
  <hr>
  <!-- body-main maquette html -->
  <app-card-user></app-card-user>
</div>
