<app-header [textHeader]="titreHeader" class="tr-header"></app-header>
<div class="customer-design">
  <div id="header-main">
    <h1>Fiche Client : {{data.firstname}} {{data.lastname}}</h1>
  </div>

  <hr>

  <div class="body-main">
    <div class="bloc-info">
      <div class="client-information">
        <h2>Client</h2>
        <p>Nom : {{data.lastname}}</p>
        <p>Prénom : {{data.firstname}}</p>
        <p>Mail : {{data.mail}}</p>
        <p>Numéro de téléphone : {{data.mobileNumber}}</p>
      </div>
      <div class="client-adresse">
        <h2>Adresse Client</h2>
        <p>N°: {{data.streetNumber}}</p>
        <p>Type de rue : {{data.streetType}}</p>
        <p>Nom de la rue : {{data.streetName}}</p>
        <p>Complément d'adresse : {{data.streetAditional}}</p>
        <p>Code postal : {{data.zipCode}}</p>
        <p>Ville : {{data.city}}</p>
      </div>
      <div class="client-other">
        <h2>Autres Informations</h2>
        <p>Status de la Commande : {{data.status}}</p>
        <p>Notes : {{data.notes}}</p>
      </div>

    </div>
    <button mat-stroked-button class="quitButton" [routerLink]="['/breizhouse/customers/list']">Quitter</button>


  </div>
</div>



