.tr-header {
  width: calc(100vw - 22vw);
  position: fixed;
  height: 250px;
  background-image: url("src/assets/backback.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index : 2
}

.customer-design{
  margin-top: 250px;
  height: calc(100% - 250px);
  background-color: var(--color-main-background);
}



.header-main{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  width: 100%;
  background-color: var(--color-main-background);
}
h1{
  text-align: center;
  font-size: xx-large;

}
hr{
  background-color: #E1EBDB;
  color : var(--color-bleu);
  width: 90%;
  text-align: center;
  margin-top: 20px;

}
.back-button {
  width: 50px;
  height: 50px;
  background-color: var(--color-bleu);
  color : var(--color-white);
}
