<app-header [textHeader]="titreHeader" class="tr-header"></app-header>

<div class="customer-design">

  <div class="header-main">
<!--    barre de recherche general sur le site avec parentalité pour card-customer-->
    <div class="group-search">
      <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" id="filteredSearch" placeholder="Recherche">
    </div>
    <!--   Bouton pour ouvrir la modal permettant d'ajouter un client-->
    <div id="addCustomer">
      <button (click)="openDialogCreateCustomer()" id="addCustomerGroup">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addCustomerText">Ajouter un nouveau client</span>
      </button>
    </div>
  </div>
  <hr>
  <!--   Appel de la card client (avec searchTerm pour rattacher la fonction de recherche)-->
  <app-card-customer [searchTerm]="searchTerm"></app-card-customer>
</div>

