<app-header [textHeader]="titreHeader" class="tr-header"></app-header>



<div class="customer-design">

  <div class="header-main">
    <div class="dropdown">
      <button class="selectFilterSearch">Filtres
        <app-icon-chevron-down></app-icon-chevron-down>
      </button>
      <div class="dropdown-child">
        <option href="#">Nom A-Z</option>
        <option href="#">Ville A-Z</option>
      </div>
    </div>
    <div class="group-search">
      <label class="Recherche" for="filteredSearch"></label>
      <input type="search" id="filteredSearch" name="filteredSearch"
             placeholder="Rechercher par nom de client">

    </div>
    <div id="addCustomer">
      <button (click)="openDialogCreateCustomer()" id="addCustomerGroup">
        <app-icon-square-plus></app-icon-square-plus>
        <span class="addCustomerText">Ajouter un nouveau client</span>
      </button>
    </div>
  </div>

  <hr>

  <app-card-customer></app-card-customer>
</div>

